@{
    ViewData["Title"] = "Home Page";


}

<div class="text-center">
    <partial name="_GlobleText" />
    <h3 class="display-4">@Model.Text1</h3>
    <h3 class="display-4">@Model.Text2</h3>
    <hr style="border-color:black;" />
    <div>
        @Model.Text3
    </div>
    <hr style="border-color:black;" />
    <div>
        @Model.Text4
    </div>
</div>
